body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.page {
    overflow: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


/*container*/
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*intro*/
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    position: relative;

    background: url("../images/Безымянный.png") center no-repeat;
    background-size: cover;
}

.intro__title {
    font-size: 110px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    font-size: 50px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;


}

.intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 40px auto 40px;
}


/*header*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 30px;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);

}

.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    background: #e9e7e7;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header.fixed {
    background-color: #eb8b8d;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    transform: translate3d(0, 0, 0);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.header.active {
    background-color: #eb8b8d;
}

/*nav*/

.nav {
    font-size: 14px;
    text-transform: uppercase;


}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    position: relative;

    transition: color .1s linear;
}

.nav__link:hover {
    color: #FCE38A;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;


    background-color: #FCE38A;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover:after {
    opacity: 1;
}


.menu-burger__header {
    position: relative;
    display: none;
    width: 40px;
    height: 35px;
    z-index: 1;

    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
}

.menu-burger__header span,
.menu-burger__header:after,
.menu-burger__header:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #fff;
    margin: 0 auto;
}

.menu-burger__header span {
    top: 16px;
}

.menu-burger__header:after,
.menu-burger__header:before {
    content: '';
}

.menu-burger__header:after {
    bottom: 5px;
}

.menu-burger__header:before {
    top: 5px;
}

.menu-burger__header.open-menu span {
    opacity: 0;
    transition: .5s;
}

.menu-burger__header.open-menu::before {
    transform: rotate(35deg);
    top: 16px;
    transition: .4s;
}

.menu-burger__header.open-menu::after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: .4s;
}

.nav__toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;


    background-color: #fff;
}

.nav__toggle.active .nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);

}

.nav__toggle.active .nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    top: 8px;
}

/*btn*/
.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    padding: 8px 30px;
    border: 3px solid #fff;

    font-size: 14px;
    font-weight: bold;

    color: #fff;
    text-transform: uppercase;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background: #fff;
    color: #333;
}


/*slider*/

.intro__slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}


.slider__item {
    padding: 20px 0;
    width: 23%;
    font-size: 18px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    opacity: 0.5;

    border-top: 3px solid #fff;
}

.slider__item.active {
    opacity: 1;
}

.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: red;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/*Services*/

.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    text-align: center;

}

.section--clients {
    background: #f5f5f5;
}

.section__suptitle {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.section__title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;
    margin: 30px auto 30px;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--map {
    height: 200px;
    width: 100%;

    background: url("../images/Map.png");
    position: relative;
}


.services {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #999;

}

/*card*/

.card {
    margin: 80px -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    background-color: #95e1d3;
    position: relative;
}

.card__item:hover .card__image {
    transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__image img {
    opacity: .1;
}

.card__item:hover .card__text {
    opacity: 1;
}

.card__image {
    background: linear-gradient(to bottom, #F38181, #FCE38A);
    transition: transform .2s linear;
}

.card__image img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 15px;
    text-align: center;
}

.card__name {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

.card__position {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;

}


/*statistics*/

.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    border-left: 1px solid #b5eae0;
    text-align: center;
    color: #fff;
    padding: 70px 25px;

}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/*Section*/

.section__text {
    display: flex;
    flex-wrap: wrap;
}

.section--background {
    padding-bottom: 0;
    background: url("../images/Rectangle\ 21.png") center no-repeat;
    background-size: cover;

}

/*Services*/

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    width: 33.33333%;
    padding: 40px 35px 0 85px;
    position: relative;
    margin-bottom: 40px;
}

.services__icon {
    position: absolute;
    left: 28px;
    top: 40px;
    z-index: 1;
}

.services__title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.services__item--border {
    border-top: 1px solid #e5e5e5;
}

.services__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
}



/*Devices*/

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.device--ipad {
    padding: 0;
}

.device__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.device--iphone {
    position: absolute;
    right: 0;
    bottom: -60px;
    z-index: 2;
}

/*Services*/

.section__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.info__item {
    width: 50%;
    padding: 0 15px;
}

.info__picture {
    display: block;
    max-width: 100%;
    height: auto;
}

/*accardion*/

.accardion__item {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

.accardion__header {
    position: relative;
    padding: 30px 20px 30px 65px;
    border-bottom: 1px solid #e5e5e5;
}

.accardion__header:after {
    content: "";
    display: block;
    margin-top: 5px;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.accardion__item.active .accardion__header:after {
    transform: translateY(-50%) rotate(-45deg);
}

.accardion__item.active .accardion__text {
    display: block;
}

.accardion__icon {
    position: absolute;
    left: 20px;
    top: 50%;

    transform: translateY(-50%);
}

.accardion__title {
    position: absolute;
    bottom: 20px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
}

.accardion__text {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #999;
    padding: 20px;
    overflow-y: scroll;
}

/* reviews*/

.reviews {
    padding: 0 110px;
    position: relative;
}

.reviews__item {
    padding-left: 205px;
    position: relative;
}

.reviews__photo {
    display: block;
    width: 151px;
    height: 151px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.reviews__text {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
}

.reviews__author {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.reviews__author:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #F38181;
}

.reviews__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__btn:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.reviews__btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviews__btn--next {
    right: 0;
    transform: rotate(135deg);
}

/* social*/

.social {
    display: flex;
    justify-content: center;
}

.social__item {
    padding: 12px 10px;
    line-height: 1;
    width: 55px;
    height: 55px;
    background-color: #FCE38A;
    border-right: 1px solid #F38181;
    text-decoration: none;
    color: #F38181;
    font-size: 30px;

    transition: background .1s linear, color .1s linear;
}

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #F38181;
    color: #fff;
}

/* brands */

.brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    margin: 0 -15px;
}

.brand__item {
    margin: 0 15px;
}

.brand__logo {
    display: block;
    height: auto;
    max-width: 100%;
}




/* works */

.works {
    display: flex;
}

.works__column {
    flex: 1 1 0;
}

.works__item {
    position: relative;

    background: linear-gradient(to bottom, #F38181, #FCE38A);
}

.works__item:hover .works__image {
    opacity: .1;
}

.works__image {
    display: block;
    transition: opacity .2s linear;
    max-width: 100%;
    height: auto;
}

.works__item:hover .works__info {
    opacity: 1;
}

.works__info {
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    opacity: 0;

    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

.works__title {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 14px;
}

.works__text {
    font-family: 'Roboto', serif;
    font-style: italic;
    font-size: 15px;
}

.padding25px {
    padding-left: 235px;
}

/*clients*/

.clients {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.clients__item {
    width: 50%;
    padding: 0 45px 0 180px;
    position: relative;
    margin-bottom: 60px;
}

.clients__name {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 12px 0px 12px 0px;
    text-transform: uppercase;

    color: #333;
}

.clients__position {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    color: #333;
}

.clients__position:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px 0;

    background-color: #F38181;
}

.clients__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    padding-left: 40px;
}

/* blogs */

.blogs {
    display: flex;
    flex-wrap: wrap;
}

.blogs__item {
    flex: 1 1 0;
    position: relative;
    margin-right: 30px;
}

.blogs__header {
    display: block;
    position: relative;
}

.blogs__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blogs__item:last-child {
    margin-right: 0;
}

.blogs__name a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    padding: 20px 0 20px 0;
}

.blogs__name a:hover {
    text-decoration: underline;
}

.blogs__definition {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #999;

    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.blogs__data {
    position: absolute;
    left: -10px;
    bottom: 10px;
    z-index: 2;

    width: 60px;
    height: 70px;
    background-color: #95e1d3;
}

.blogs__day {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 0;
    margin-top: 15px;
    padding-top: 7px;
}

.blogs__mounth {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    color: #fff;
    text-align: center;
    line-height: 0;
}

.blog__statistics {
    display: flex;
    margin-top: 20px;
    color: #95e1d3;
}

.blog__statistics a {
    text-decoration: none;
    color: #95e1d3;
}

.blog__views {
    margin-right: 10px;
}

/*map*/

.map__content {
    text-align: center;
    position: absolute;
    top: 60px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);

    line-height: 1;
}

.map__logo {
    margin-bottom: 20px;
}

.map__content a {
    color: #F38181;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.map__name:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #F38181;

    margin: 20px auto 0;

}

/*footer*/

.footer {
    display: flex;
    margin-bottom: 65px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item {
    width: 40%;
}

.footer__logo {
    font-size: 46px;
    font-weight: bold;
    color: #999;
    margin-bottom: 30px;
    padding-top: 75px;
}

.footer__text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999;
    margin-bottom: 30px;
}

.statistic__followers {
    font-size: 14px;
    color: #333;

    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;

}

.statistic__followers span {
    font-size: 18px;
    font-weight: bold;
}

.social__networks {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #999;
    margin-bottom: 30px;
    padding-top: 20px;
}

.social__networks i {
    color: #95e1d3;
    margin-left: 10px;
}

.social__networks a {
    text-decoration: none;
}

/*subscribe*/

.subscribe {
    width: 100%;
    max-width: 380px;

    display: flex;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    font-style: italic;
    color: #333;
    font-weight: 300;
    padding: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.1;
    border-right: 0;
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__btn {
    width: 40%;
    height: 40px;
    background-color: #95e1d3;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    padding: 12px 30px;
    line-height: 1.1;

    transition: background .2s linear;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.subscribe__btn:focus {
    outline: 0;
}

.subscribe__input:focus {
    outline: 0;
    border-color: #95e1d3;
}

/*footer__item--blogs*/

.footer__item--blogs {
    width: 29%;
}

.content__table {
    padding-top: 80px;
    margin-bottom: 40px;
}


.content__table a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.blogs__content {
    display: flex;
    flex-wrap: wrap;

    margin-left: 45px;
}

.blogs__content a {
    text-decoration: none;
    color: #333;
}

.blogs__content a:hover {
    color: #999;
}

.content__items {
    position: relative;
    margin-bottom: 30px;
}

.content__photo {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    z-index: 1;
}

.content__info {
    margin-left: 140px;
    padding-top: 15px;
}

.content__name {
    font-size: 12px;
    text-transform: uppercase;
}

.content__date {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #ccc;
}

/*Instagram*/

.footer__items--instagram {
    width: 22%;
}


.instagram__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inst__items {
    width: 33%;
    border-bottom: 1px solid #fff;
}

.inst__items img {
    display: block;
    max-width: 100%;
    height: auto;
}



.inst__items img {
    display: block;
}

.detailed {
    margin-top: 20px;
}

.detailed a {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: #999;
    font-weight: 300;
    text-decoration: none;
}

.detailed a:hover {
    color: #ccc;
}

.copyright {
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    padding: 20px 0;
    margin: 0;
}

.copyright__text span {
    color: #F38181;
}

/*Медиа-запросы*/

@media (max-width: 1230px) {

    /*Intro*/

    .intro__title {
        font-size: 120px;
    }

    .intro__suptitle {
        font-size: 52px;
    }

    /*Reviews*/

    .reviews__text {
        font-size: 20px;
    }

}

@media (max-width: 990px) {

    /*Intro*/

    .intro__title {
        font-size: 80px;
    }

    .intro__suptitle {
        font-size: 32px;
    }

    /*Stat*/

    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        border: 0;
        padding: 30px 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /*Services*/

    .services__item {
        width: 50%;
    }

    .services__item--border {
        border-top: 0;
    }

    /*Reviews*/

    .reviews__photo {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .reviews__item {
        padding-left: 122px;
    }

    .reviews {
        padding: 0 50px 0 50px;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 20px;
    }

    /*Brand*/

    .brand {
        justify-content: center;
    }

    /*Clients*/

    .clients {
        max-width: 600px;
        margin: 0 auto;
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

    /*Footer*/

    .footer__item {
        width: 100%;
        text-align: center;
    }

    .footer__item--blogs {
        width: 50%;
    }

    .footer__items--instagram {
        width: 50%;
    }

    /*Instagram*/

    .instagram__photos {
        justify-content: flex-start;
    }

    .inst__items {
        width: auto;
        border-right: 1px solid #fff;
    }

}

@media (max-width: 770px) {

    /*Intro*/

    .intro {
        min-height: 650px;
    }

    /*Header*/

    .header {
        padding: 10px 0;
    }

    /*Nav*/
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;


        background-color: #eb8b8d;
    }

    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav__toggle {
        display: block;
    }

    .nav.open-menu {
        display: block;
    }

    /*Section*/
    .section {
        padding: 40px 0;
    }

    .section {
        padding-bottom: 0;
    }

    /*Card*/

    .card {
        margin-top: 50px;
        justify-content: center;
    }

    .card__item {
        width: 100%;
        max-width: 400px;
        margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

    /*Slider*/
    .slider__text {
        display: none;
    }

    .slider__item.active:before {
        width: 50%;
    }

    /*Services*/

    .services__item {
        width: 100%;
        padding-top: 0;
    }

    /*Section__info*/

    .info__picture {
        display: none;
    }

    .info__item {
        width: 100%;
    }

    /*Reviews*/

    .reviews__photo {
        position: static;
    }

    .reviews__item {
        padding-left: 0;
    }

    .reviews__author {
        padding-bottom: 20px;
    }

    /* Works */

    .works {
        flex-wrap: wrap;
    }

    .works__column {
        flex: none;
        width: 50%;
    }

    /*Blogs*/

    .blogs {
        max-width: 380px;
        margin: 0 auto;
    }

    .blogs__item {
        flex: none;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .blogs__item:last-child {
        margin-bottom: 0;
    }

    .blog__statistics {
        margin-top: 5px;
    }

    /*Instagram*/

    .footer__item--blogs,
    .footer__items--instagram {
        width: 100%;
    }

    /*Footer__item--blogs*/

    .content__table {
        padding-top: 40px;
        margin-bottom: 40px;
    }


}

@media (max-width: 575px) {

    /*Intro*/

    .intro__title {
        font-size: 40px;
    }

    .intro__suptitle {
        font-size: 22px;
    }



    /*Section*/

    .section__header {
        margin-bottom: 30px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__suptitle {
        font-size: 20px;
    }

    .section__title:after {
        margin: 20px auto;
    }

    /*Stat*/

    .stat__item {
        width: 100%;
        border-bottom: 1px solid #b5eae0;
    }

    .stat__count {
        font-size: 52px;
    }

    .stat__item:last-child {
        border-bottom: 0;
    }

    /*Section*/
    .text__item {
        flex: 0;
        width: 100%;
    }

    /*Devices*/

    .devices {
        max-width: 320px;
    }

    .device--iphone {
        width: 180px;
        right: -80px;
        bottom: -60px;
    }

    /*Reviews*/

    .reviews {
        padding: 0;
    }

    .reviews__btn {
        top: 13%;
    }

    /*Brand*/

    .brand {
        flex-wrap: wrap;
        height: 800px;
    }

    /*Works*/

    .works__column {
        flex: none;
        width: 100%;
    }

    /*Clients*/

    .clients__photo {
        position: static;
        padding-left: 0;
    }

    .clients__item {
        padding-left: 0;
        text-align: center;
    }

    .clients__position:after {
        margin: 15px auto;
    }

    /*footer__item--blogs*/

    .blogs__content {
        margin-left: 0;
    }

    .content__photo {
        position: static;
        margin: 0 auto;
    }

    .content__info {
        text-align: center;
        margin-left: 0;
    }

    .content__table {
        text-align: center;
    }

    .content__table {
        padding-top: 20px;
        margin-bottom: 20px;
    }

    /*Subscribe*/

    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }

}